= link_to image_tag('b_back.jpg') , root_path
%br
%br
%h1.mid Bann Sawanya Apartment

%table
  %tr
    %td Detail
  %tr
    %td= link_to 'ER-Diagram',er_path
  %tr
    %td= link_to 'lo-fi Mockup',mockup_path
  %tr
    %td= link_to 'Story board',story_path
  %tr
    %td= link_to 'Feature',feature_path
  %tr
    %td= link_to 'Pivotal tracker',"https://www.pivotaltracker.com/s/projects/1013606"
  %tr
    %td= link_to 'Git repo' ,"https://github.com/pigdome8/Project"
  %tr
    %td &nbsp      
  %tr
    %td= image_tag('mem.jpg' ,:size => '300x150')