%p#notice= notice
%h1 Admin page


= link_to 'Member Information', meminf_path
%br
= link_to 'Repair Notification', repairs_path
%br
= link_to 'New User', new_user_path
%br
= link_to 'Log out', sessions_destroy_path

