%table#left 
 %tr
  %td= link_to 'Log out', sessions_destroy_path

%h1 Sawanya Apartment
%p#notice= notice

Room No. 
=@user.room_no



Name 
=@user.name 
=@user.surname
%br
= link_to 'Rental', show_rental_path(@user)
%br
= link_to 'Tenant Information', information_path(@user)
%br
= link_to 'Repair Notification', information_path(@user)

  
