%body.tenant

%table#left 
 %tr
  %td#left= link_to image_tag( 'b_back.jpg'), session[:admin] == '555' ? meminf_path : users_path
  %td= link_to image_tag( 'b_logout.jpg'), sessions_destroy_path , :id => '13'


%br
%br
%br
%br
%br
%br
%br
%table
 %tr
  %td.textbig Name
  %td.textbig :
  %td.textbig= @user.name 
 %tr
  %td.textbig Surname
  %td.textbig :
  %td.textbig= @user.surname
 %tr
  %td.textbig Age
  %td.textbig :
  %td.textbig= @user.age
 %tr
  %td.textbig Birth Date
  %td.textbig :
  %td.textbig= @user.birth_date
 %tr
  %td.textbig Personal ID
  %td.textbig :
  %td.textbig= @user.personal_id
 %tr
  %td.textbig Address
  %td.textbig :
  %td.textbig= @user.address
 %tr
  %td.textbig Phone
  %td.textbig :
  %td.textbig= @user.phone
 %tr
  %td.textbig E-mail
  %td.textbig :
  %td.textbig= @user.email
 %tr
  %td.textbig Room No.
  %td.textbig :
  %td.textbig= @user.room_no
 %tr
  %td.textbig Rent
  %td.textbig :
  %td.textbig= @user.rent



%br