%table#left 
 %tr
  %td= link_to 'Log out', sessions_destroy_path


%p#h1 Member Information

 

%table 
 %tr

 - @users.each do |user|
  %tr
   %td= user.name
   %td= user.surname
   %td= user.room_no
   %td &nbsp&nbsp&nbsp&nbsp
   %td= link_to 'Tenant Information', information_path(user)
   %td= link_to 'Edit', edit_user_path(user)
   %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }



