%body.tenant

%table#left 
 %tr
  %td#left= link_to image_tag('b_back.jpg') , admin_path 
  %td= link_to image_tag( 'b_logout.jpg'), sessions_destroy_path , :id => '13'


%br
%br
%br
%br
%br
%br
%br
%br
%br 

%table 
 %tr
  %td Name
  %td &nbsp
  %td Surname
  %td &nbsp
  %td Room No.

 - @users.each do |user|
  %tr
   %td= user.name
   %td &nbsp
   %td= user.surname
   %td &nbsp
   %td= user.room_no
   %td &nbsp&nbsp&nbsp&nbsp
   %td= link_to image_tag( 'detail.jpg'), information_path(user) ,:id => '7'
   %td= link_to image_tag( 'rental.jpg'), show_rental_path(user) ,:id => '8'
   %td= link_to image_tag( 'edit_s.jpg'), edit_user_path(user) ,:id => '9'
   %td= link_to image_tag( 'delete_s.jpg'), user, :method => :delete, :data => { :confirm => 'Are you sure?' } ,:id => '10'



