
= form_for @rental do |f|
  - if @rental.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rental.errors.count, "error")} prohibited this rental from being saved:"
      %ul
        - @rental.errors.full_messages.each do |msg|
          %li= msg

  .field
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    = f.text_field :room_no , :value => @room == nil ? @rental.room_no : @room.room_no
    
  .field
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    = f.text_field :name , :value => @room == nil ? @rental.name : @room.name
    
  .field
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    = f.text_field :rent , :id => 'rent'
  .field
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    = f.text_field :elec_unit
  .field
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    = f.text_field :water_unit
  .field
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    = f.text_field :unpay ,:id => 'unpay'
  .actions
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    
    = f.submit 'Save'
