%body.show
= link_to image_tag('b_back.jpg'), meminf_path
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br



%table#rent
 %tr 
  %td#rent= @rental.room_no
 %tr
  %td#rent= @rental.rent
 %tr
  %td#rent= @rental.name
 %tr
  %td#rent= @rental.elec_unit
 %tr
  %td#rent= @rental.water_unit
 %tr
  %td#rent= @rental.unpay
 %tr
  %td= link_to image_tag('edit_s.jpg'),session[:admin]=='555' ? edit_rental_path(@rental): show_rental_path(@rental) ,:id =>'16'




