= link_to image_tag( 'b_back.jpg'), users_path
%body.showrep
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
%br

%table
 %tr
  %td#notice= notice
 %tr
  %td.textbig Room No
  %td.textbig :
  %td.textbig= @repair.room_no
 %tr
  %td.textbig Name
  %td.textbig :
  %td.textbig= @repair.name
 %tr
  %td.textbig Problem
  %td.textbig :
  %td.textbig= @repair.problem
 %tr
  %td &nbsp
 %tr
  %td &nbsp
 %tr
  %td &nbsp
 %tr
  %td= link_to image_tag( 'edit.jpg'), edit_repair_path(@repair) , :id => '14'

